# Build outputs
packages/core/dist
packages/server/dist
packages/client/dist
*.tsbuildinfo

# Dependencies
node_modules
packages/*/node_modules

# Environment files
.env
.env.local
packages/server/.env
packages/client/.env.local

# Railway
.railway

# OS
.DS_Store
Thumbs.db
